body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #060505;
    color: white;
    padding: 10px 0;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

nav input[type="text"] {
    padding: 5px;
}

#search-button {
    padding: 5px 10px;
    cursor: pointer;
}

/* Slideshow styling */
.slideshow {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
}

.slideshow-image {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow-image.active {
    opacity: 1;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product:hover img {
    transform: scale(1.1);
}

.price {
    font-size: 1.2em;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #010101;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product:hover .add-to-cart {
    opacity: 1;
}

aside {
    position: fixed;
    right: 0;
    top: 50px;
    width: 250px;
    padding: 10px;
    background-color: #f8f8f8;
    border-left: 1px solid #ccc;
}

aside h2 {
    text-align: center;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

#clear-cart,
#place-order {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #030303;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.footer-left, .footer-middle, .footer-right {
    flex: 1;
}

.footer-left {
    text-align: left;
}

.footer-middle {
    text-align: center;
}

.footer-right {
    text-align: right;
}

.footer-bottom {
    text-align: center;
    margin: 0;
}

